.infobox {
  align-items: center;
  border: 3px solid;
  border-color: var(--matertiary);
  border-radius: 4px;
  display: flex;
  gap: 8px;
  justify-content: center;
  max-width: 500px;
  padding: 15px;
  position: relative;
  width: 343px;
}

.infobox .erika-plant {
  height: 38px;
  margin-bottom: -2.00px;
  margin-left: -1.00px;
  position: relative;
  width: 27.2px;
}

.infobox .color-coding {
  color: var(--maprimary);
  flex: 1;
  font-family: var(--MA-p-bold-font-family);
  font-size: var(--MA-p-bold-font-size);
  font-style: var(--MA-p-bold-font-style);
  font-weight: var(--MA-p-bold-font-weight);
  letter-spacing: var(--MA-p-bold-letter-spacing);
  line-height: var(--MA-p-bold-line-height);
  position: relative;
}
