.backicon {
  height: 18px;
  width: 10px;
  position: relative;
}
.button-name {
  width: 74px;
  position: relative;
  font-weight: 600;
}
.back-button {
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-20);
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  padding: var(--padding-6) var(--padding-12) var(--padding-6) var(--padding-8);
  box-sizing: border-box;
  gap: var(--gap-10);
  max-width: 400px;
  cursor: pointer;
  z-index: 0;
  text-align: center;
  font-size: var(--font-size-16);
  color: var(--white);
  font-family: var(--font-quicksand);
}
