.checkbox-input {
  height: 30px;
  width: 30px;
  box-shadow: var(--MA-dropshadow-down);
  border-radius: var(--br-4);
  background-color: var(--white);
  border: 1px solid var(--foreground);
  box-sizing: border-box;
}
.checkbox-label {
  flex: 1;
  position: relative;
  font-weight: 600;
}
.checkbox {
  width: 100%;
  border-radius: var(--br-4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-10);
  max-width: 600px;
  text-align: left;
  font-size: var(--font-size-16);
  color: var(--primary);
  font-family: var(--font-quicksand);
}
