.erika-plant-icon {
  height: 36px;
  width: 25.2px;
  position: relative;
}
.modal-title {
  flex: 1;
  position: relative;
  line-height: 22px;
}
.header2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-10);
  z-index: 2;
}
.modal,
.modal-content {
  text-align: left;
  font-family: var(--font-quicksand);
}
.modal-content {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-14);
  color: var(--foreground);
  z-index: 1;
}
.modal {
  width: 345px;
  border-radius: 8px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 25px;
  box-sizing: border-box;
  gap: var(--gap-10);
  min-width: 270px;
  max-width: 500px;
  font-size: var(--font-size-18);
  color: var(--primary);
}
