.waidhofenapp-icon {
  object-fit: cover;
}
.calendar-icon,
.home-icon,
.waidhofenapp-icon {
  width: 30px;
  position: relative;
  max-height: 100%;
}
.calendar-icon {
  cursor: pointer;
}
.navigationbar,
.navigationbar-options {
  border-radius: var(--br-30) var(--br-30) 0 0;
  display: flex;
  align-items: center;
}
.navigationbar-options {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-24) 35px var(--padding-30);
  box-sizing: border-box;
  gap: 0;
  min-width: 320px;
  max-width: 800px;
}
.navigationbar {
  align-self: stretch;
  box-shadow: var(--MA-dropshadow-up);
  background-color: var(--white);
  flex-direction: column;
  justify-content: center;
}
