.text-field-label {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.text-field-input {
  border: 1px solid var(--foreground);
  background-color: var(--white);
  height: auto;
  width: auto;
  outline: 0;
  align-self: stretch;
  box-shadow: var(--MA-dropshadow-down);
  border-radius: var(--br-4);
  box-sizing: border-box;
}
.textfield {
  width: 100%;
  border-radius: var(--br-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5);
  max-width: 600px;
  text-align: left;
  font-size: var(--font-size-16);
  color: var(--primary);
  font-family: var(--font-quicksand);
}
